<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>DEMO</title>
</head>
<body>
<div style="padding-top: 150px" align="center">

    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group w-25 p-0">
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Отправить</button>

    </form>

</div>

</body>
</html>